<%= form_for :registration, routes.path(:register_account) do |f| %>
  <%= form.nickname_input(f) %>
  <%= form.password_input(f) %>
  <%= form.password_confirmation_input(f) %>
  <%= form.tac_input(f) %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Register account", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link_to "Already have an account", routes.path(:login), class: "button is-link is-light"%>
    </div>
  </div>
<% end %>
