<%= form_for :registration, routes.path(:register_account) do |f| %>
  <%= form.username_scope(f) %>
  <%= form.password_scope(f).render("shared/forms/password_field") %>
  <%= form.password_confirmation_scope(f).render("shared/forms/password_field") %>
  <%= form.tac_scope(f).render("shared/forms/check_box_field") %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Register account", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link_to "Already have an account", "#", class: "button is-link is-light"%>
    </div>
  </div>
<% end %>
