<tr id="episode-<%= episode.id %>">
  <th><%= episode.source_id %></th>
  <td><img src="<%= episode.cover[:small]%>" class="is6b9" /></td>
  <td><%= link_to episode.title, routes.path(:episode, id: episode.id) %></td>
  <th><abbr title="Status"><%= episode.status_icon %></abbr></th>
  <td>
    <%= render "button_refresh", episode: episode %>
    <%= render "button_destroy", episode: episode %>
    <%= render "button_publish", episode: episode unless episode.published? %>
  </td>
</tr>
